{% load static %}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Check Your Email</title>

    <link rel="stylesheet" href="{% static 'user/style.css' %}">
</head>

<body>

<div class="container">

    <h2>Check Your Email</h2>

    <p class="description">
        Nếu email tồn tại trong hệ thống,
        chúng tôi đã gửi link đặt lại mật khẩu đến email của bạn.
    </p>

    <div class="link">
        <a href="{% url 'login' %}">
            Quay lại đăng nhập
        </a>
    </div>

</div>

</body>
</html>