{% extends "base.html" %}

{% block content %}
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				
				
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form method="POST" action="">
                            {% csrf_token %}
							<!-- <input type="text" name="username" placeholder="Username"/> -->
							<input type="email" name="email" placeholder="Email Address"/>
							<input type="password" name="password" placeholder="Password"/>
							<input type="password" name="confirm_password" placeholder="Confirm Password"/>
							<button type="submit" class="btn btn-default">Signup</button>
							{% if messages %}
    							{% for message in messages %}
        							<script>
            							alert("{{ message }}");
        							</script>
    							{% endfor %}
							{% endif %}
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
</section><!--/form-->
	
{% endblock %}	